<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/_head.ejs %>
  </head>
  <body class="container">
    <header>
      <%- include partials/_header %>
    </header>
    <main>
      <div>
        <h2> Short URL: <%- shortURL%></h2>
        <p><strong> Number of Total Visits:</strong> <%- totalVisits%></p>
        <p><strong> Number of Unique Visits: </strong><%- uniqueVisits%></p>
        <form method="POST" action="/urls/<%- shortURL%>?_method=PUT">
          <input type="text" name="longURL" id="longURL" value="<%- longURL%>">
          <button class="ui red basic button">Update</button>
        </form>
        <table>
          <tr>
            <tr class="timeDate">
              <td>Visitor's ID</td>
              <td>Time</td>
            </tr>
            <%for (let visitor_id in allVisits) {%>
              <%allVisits[visitor_id].forEach(function(timeDate) {%>
                <tr>
                  <td><%- visitor_id%></td>
                  <td><%- timeDate%></td>
                </tr>
              <%})%>
            <%}%>
            </th>
          </tr>
        </table>
      </div>
    </main>
  </body>
</html>




