<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include partials/_head.ejs %>
        <title>TinyApp</title>
    </head>
    <body class="container">

        <header>
            <% include partials/_header %>
        </header>

        <main>


            <div>
            <div class="table-responsive">
              <table class="table">
                <% for (let url in urls ) { %>
                    <tr>
                        <td><%- url%></td>
                        <td><%-urls[url].longURL%></td>
                        <td>
                            <a class="ui green basic button" href="/urls/<%=url%>">Edit</a>
                        </td>
                        <td>
                            <form method="POST" action="/urls/<%- url%>/delete">
                                <button class="ui red basic button">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
              </table>
            </div>
            <div><a>Make a TinyURL<a></div>

            </div>

        </main>

        <footer>
             <% include partials/_footer %>
        </footer>

    </body>
</html>